/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
  justify-content: center;
  text-align: center;
}

header {
  background-color: #0056b3;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.gallery,
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s ease-out;
}

.image:hover img {
  transform: scale(1.1); /* Example of image zoom on hover */
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: #fff;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.image:hover .image-info {
  transform: translateY(0);
}

.image-info p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

form {
  background: #fff;
  padding: 25px;
  border: 1px;
  margin: 500px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form .form-group {
  margin-bottom: 15px;
}

form .btn {
  background-color: #007bff;
  color: #fff;
  border: none;
}

form .btn:hover {
  background-color: #0056b3;
}

/* Image Gallery */
#image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1);
}

/* Image Resize Result */
#resize-result img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#resize-result {
  margin-top: 20px;
}

button {
  background-color: #0056b3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input {
  border-color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
